@model Hero
@{ 
    var userRole = Context.Session.GetString("UserRole");
    string serializedHeroCards;
    bool alreadyInCollection = false;
    if (userRole != null)
    {
        serializedHeroCards = Context.Session.GetString("HeroCards");
        var heroCardIds = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Guid>>(serializedHeroCards);
        if (heroCardIds.Count != 0)
        {
            alreadyInCollection = heroCardIds.Contains(Model.Id);
        }
    }
}

    <div class="col-auto heroCard @Model.HeroClass">
        <table>
            <thead>
                <tr>
                    <td colspan="2">
                        <img asp-append-version="true" class="heroImg" src="~/images/Heroes/@Model.Img"
                             title="@Model.Name" alt="@Model.Name" />
                    </td>
                </tr>
                <tr><td colspan="3"><a asp-action="GetHero" asp-controller="Heroes" asp-route-id="@Model.Id"><b>@Model.Name</b></a></td></tr>
            </thead>
            <tbody>
                <tr>
                    <th class="blackAndWhite text-center">Cost</th>
                    <th class="blackAndWhite text-center">Attack</th>
                </tr>
                <tr>
                    <td class="actionpoint text-white">
                        @Model.ActionPoints
                    </td>
                    <td>
                        <img src="~/images/DamageTypes/@(Model.DamageType).png" alt="@(Model.DamageType).png" title="@Model.DamageType" />
                    </td>
                </tr>
                <tr>
                    <th class="blackAndWhite text-center">Race</th>
                    <th class="blackAndWhite text-center">Class</th>
                </tr>
                <tr class="raceNclass">
                    <td>
                        <a asp-action="GetRace" asp-controller="Race" asp-route-heroRace="@Model.Race">
                            <img src=@("/images/Races/" + Model.Race + ".png") alt="@Model.Race"
                                 title="@Model.Race" />
                        </a>
                    </td>
                    <td>
                        <a asp-action="GetClass" asp-controller="Class" asp-route-heroClass="@Model.HeroClass">
                            <img src=@("/images/Classes/"+ Model.HeroClass + ".png") alt="@Model.HeroClass"
                                 title="@Model.HeroClass" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="blackAndWhite text-center" colspan="3">Skills</th>
                </tr>
                <tr>
                    <td colspan="3">
                        @foreach (var cardUnitSkill in Model.SkillSet)
                        {
                            <a asp-action="GetSkillsByStats" asp-controller="Skill" asp-route-skillStat="Name" asp-route-value="@cardUnitSkill.Skill.Name">
                                <img class="skillImg" asp-append-version="true" src="~/images/Skills/@cardUnitSkill.Skill.Img"
                                     alt="@cardUnitSkill.Skill.Name" title="@cardUnitSkill.Skill.Name" />
                            </a>
                        }
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2" class="blackAndWhite text-center">Stats</th>
                </tr>
                <tr>
                    <th>Health</th>
                    <th>Mana</th>
                </tr>
                <tr>
                    <td>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Health"
                           asp-route-value="@Model.Health" asp-route-statAmountType="Below" class="btn-info btn-sm"><b>-</b></a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Health"
                           asp-route-value="@Model.Health" asp-route-statAmountType="Exact">
                            @Model.Health
                        </a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Health"
                           asp-route-value="@Model.Health" asp-route-statAmountType="Above" class="btn-info btn-sm"><b>+</b></a>
                    </td>
                    <td>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Mana"
                           asp-route-value="@Model.Mana" asp-route-statAmountType="Below" class="btn-info btn-sm"><b>-</b></a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Mana"
                           asp-route-value="@Model.Mana" asp-route-statAmountType="Exact">
                            @Model.Mana
                        </a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Mana"
                           asp-route-value="@Model.Mana" asp-route-statAmountType="Above" class="btn-info btn-sm"><b>+</b></a>
                    </td>
                </tr>
                <tr>
                    <th>Health regen</th>
                    <th>Mana regen</th>
                </tr>
                <tr>
                    <td>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="HealthRegen"
                           asp-route-value="@Model.HealthRegen" asp-route-statAmountType="Below" class="btn-info btn-sm"><b>-</b></a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="HealthRegen"
                           asp-route-value="@Model.HealthRegen" asp-route-statAmountType="Exact">
                            @Model.HealthRegen
                        </a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="HealthRegen"
                           asp-route-value="@Model.HealthRegen" asp-route-statAmountType="Above" class="btn-info btn-sm"><b>+</b></a>
                    </td>
                    <td>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Manaregen"
                           asp-route-value="@Model.Manaregen" asp-route-statAmountType="Below" class="btn-info btn-sm"><b>-</b></a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="ManaRegen"
                           asp-route-value="@Model.Manaregen" asp-route-statAmountType="Exact">
                            @Model.Manaregen
                        </a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Manaregen"
                           asp-route-value="@Model.Manaregen" asp-route-statAmountType="Above" class="btn-info btn-sm"><b>+</b></a>
                    </td>
                </tr>
                <tr>
                    <th>Armor</th>
                    <th>Damage</th>
                </tr>
                <tr>
                    <td>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Armor"
                           asp-route-value="@Model.Armor" asp-route-statAmountType="Below" class="btn-info btn-sm"><b>-</b></a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Armor"
                           asp-route-value="@Model.Armor" asp-route-statAmountType="Exact">
                            @Model.Armor
                        </a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Armor"
                           asp-route-value="@Model.Armor" asp-route-statAmountType="Above" class="btn-info btn-sm"><b>+</b></a>
                    </td>
                    <td>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Damage"
                           asp-route-value="@Model.Damage" asp-route-statAmountType="Below" class="btn-info btn-sm"><b>-</b></a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Damage"
                           asp-route-value="@Model.Damage" asp-route-statAmountType="Exact">
                            @Model.Damage
                        </a>
                        <a asp-action="GetHeroByStats" asp-controller="Heroes" asp-route-heroStat="Damage"
                           asp-route-value="@Model.Damage" asp-route-statAmountType="Above" class="btn-info btn-sm"><b>+</b></a>
                    </td>
                </tr>
                @if (userRole == "Admin")
                {
                    <tr>
                        <td>
                            <a asp-action="UpdateHero" asp-controller="Heroes" asp-route-id="@Model.Id" class="btn btn-light">Update</a>
                        </td>
                        <td>
                            <a asp-action="DeleteHero" asp-route-id="@Model.Id" asp-controller="Heroes" class="btn btn-light">Delete</a>
                        </td>
                    </tr>
                }
                @if (userRole != null)
                {
                    <tr>
                        <td colspan="3">

                            @if (alreadyInCollection)
                            {
                                <a asp-action="DeleteUserHeroCard" asp-controller="Users" asp-route-id="@Model.Id" class="btn btn-danger">
                                    Remove from Collection
                                </a>
                            }
                            else
                            {
                                <a asp-action="AddUserHeroCard" asp-controller="Users" asp-route-id="@Model.Id"class="btn btn-success">
                                    Add to Collection
                                </a>
                            }
                        </td>
                    </tr>
                }

            </tfoot>
        </table>
    </div>