@model HeroesGetHeroByStatsViewModel
@{
    ViewData["Title"] = "GetHeroByStats";
}

@if (Model.StatAmountType == StatAmountType.Exact)
{
    <h2>Heroes which @Model.StatsName is @Model.StatAmountType @Model.Value </h2>
}
else if(Model.StatAmountType == StatAmountType.Contains)
{
    <h2>Heroes which @Model.StatsName @Model.StatAmountType "@Model.Value"</h2>
}
else
{
<h2>Heroes with @Model.StatsName @Model.Value and @Model.StatAmountType  </h2>
}

@if (Model.Heroes.Count == 0)
{
    <h2>No heroes were found! </h2>
}
else
{
<div class="row">
    @foreach (Hero hero in Model.Heroes)
    {
        <partial name="HeroCardPartial" model="hero" />
    }
</div>
}
