@model HeroesGetHeroViewModel
@{
    ViewData["Title"] = "GetHero";
}

<h2>@Model.Hero.Name Overview</h2>

<div class="row">
    <div>
        <partial name="HeroCardPartial" model="Model.Hero" />
    </div>

    <div class="col-8">
        <h2 class="col-2">Description</h2>
        <p class="description">@Model.Hero.Description</p>
    </div>

</div>
<h2>@Model.Hero.Name Skills</h2>
<div class="row">
    @foreach (var cardUnitSkill in Model.Hero.SkillSet)
    {
        if (cardUnitSkill.Skill is ActiveSkill)
        {
            <partial name="ActiveSkillPartial" model="cardUnitSkill.Skill" />
        }
        else
        {
            <partial name="PassiveSkillPartial" model="cardUnitSkill.Skill" />
        }

    }
</div>
<h2 class="blackAndWhite text-center">Heroes with same race : <i>@Model.Hero.Race</i></h2>
<div class="row">

    @foreach (var hero in Model.SimilarRaceHeroes)
    {
        <partial name="HeroCardPartial" model="hero" />
    }
</div>
<h2 class="blackAndWhite text-center">Heroes with same class : <i>@Model.Hero.HeroClass</i></h2>
<div class="row">
    @foreach (var hero in Model.SimilarClassHeroes)
    {
        <partial name="HeroCardPartial" model="hero" />
    }
</div>
<div class="row"></div>
